<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="14" android:versionName="14.0" package="com.hyrt.ceiphone"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.hyrt.cei.application.CeiApplication" android:hardwareAccelerated="true">
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name" android:name=".WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.common.HomePageDZB" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InformationReadActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InformationOne" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InformationTwo" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InformationThree" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InformationCollect" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InformationActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.information.InfoSearchActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.common.Disclaimer" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.common.WebViewUtil" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="locale|keyboard|keyboardHidden|orientation" android:alwaysRetainTaskState="true" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.personcenter.PersonCenter" android:screenOrientation="portrait" android:alwaysRetainTaskState="true" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.personcenter.PersonInfo" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.personcenter.QccountInfo" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.personcenter.ChangePassword" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.common.Announcement" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.common.AnnouncementRead" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReadReportMainActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReadReportGoodActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReportIntro" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReadReportFind" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReadReportFL" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReadReportPH" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.ReadReportMF" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.readreport.CeiShelfBookActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="org.vudroid.pdfdroid.PdfViewerActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/pdf" android:path="aaa" />
            </intent-filter>
        </activity>
        <activity android:label="PDF阅读器" android:name="com.poqop.document.MainBrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.common.LoginActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.common.GetpasswordActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.phonestudy.CourseDetailActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.phonestudy.SinaDemoActivity" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.phonestudy.PreloadActivity" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.FreeActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.SearchActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.PreloadActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.NominateActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.KindsActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.SelfActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.SayActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.SayGroupActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.PhoneStudyActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.ceiphone.phonestudy.StudyRecordActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.witsea.WitSeaActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.common.RegistActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconDataMain" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconDataContent" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconDataSearchActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconDateNumberActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconFXDataActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconZBQueryActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.hyrt.cei.ui.econdata.EconZZDataActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Light" android:name="com.weibo.sdk.android.demo.APITypeListActivity" />
        <activity android:theme="@*android:style/Theme.Light" android:name="com.weibo.sdk.android.demo.ShareActivity" />
        <activity android:theme="@*android:style/Theme.Light" android:name="com.weibo.sdk.android.demo.BlogFunActivity" />
        <activity android:theme="@*android:style/Theme.Light" android:name="com.weibo.sdk.android.demo.MainActivity" />
    </application>
    <uses-permission android:name="READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
</manifest>